In [10]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [11]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import backend as K
from tensorflow.keras.layers import Dense, Activation,Dropout,Conv2D, MaxPooling2D,BatchNormalization, Flatten
from tensorflow.keras.optimizers import Adam, Adamax
from tensorflow.keras.metrics import categorical_crossentropy
from tensorflow.keras import regularizers
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Model, load_model, Sequential
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv('GroundTruth.csv', header=0 ) #importando o arquivo e especificando o cabeçalho

In [4]:
df.head(10)  #lendo

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
5  ISIC_0024311  0.0  1.0  0.0    0.0  0.0  0.0   0.0
6  ISIC_0024312  0.0  0.0  0.0    0.0  1.0  0.0   0.0
7  ISIC_0024313  1.0  0.0  0.0    0.0  0.0  0.0   0.0
8  ISIC_0024314  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9  ISIC_0024315  1.0  0.0  0.0    0.0  0.0  0.0   0.0

In [5]:
# Selecionando algumas colunas
df_2 = pd.read_csv('GroundTruth.csv', usecols = ["image","MEL","NV"])
df_2.head(1)

          image  MEL   NV
0  ISIC_0024306  0.0  1.0

In [6]:
#Selecionado x linhas 
df_3 = pd.read_csv('GroundTruth.csv', usecols = ["image","MEL","NV"], nrows = 100)
df_3.head()

          image  MEL   NV
0  ISIC_0024306  0.0  1.0
1  ISIC_0024307  0.0  1.0
2  ISIC_0024308  0.0  1.0
3  ISIC_0024309  0.0  1.0
4  ISIC_0024310  1.0  0.0

In [7]:
df_3.shape

(100, 3)

In [8]:
#Selecionando apenas uma única coluna da base de dados
df["MEL"].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: MEL, dtype: float64

In [9]:
df[["MEL", "image", "NV"]].head()

   MEL         image   NV
0  0.0  ISIC_0024306  1.0
1  0.0  ISIC_0024307  1.0
2  0.0  ISIC_0024308  1.0
3  0.0  ISIC_0024309  1.0
4  1.0  ISIC_0024310  0.0

In [10]:
df.image.head() #Outra maneira de selecionar uma coluna

0    ISIC_0024306
1    ISIC_0024307
2    ISIC_0024308
3    ISIC_0024309
4    ISIC_0024310
Name: image, dtype: object

In [11]:
#Acrescentando uma coluna nova
df["Coluna nova"] = df["image"]

In [12]:
df.head()

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC   Coluna nova
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0  ISIC_0024306
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0  ISIC_0024307
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0  ISIC_0024308
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0  ISIC_0024309
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0  ISIC_0024310

In [13]:
#Excluindo colunas
df.drop(["Coluna nova"], axis = 1, inplace = True)

In [14]:
df.head()

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0

### Usando loc

In [15]:
#Usando loc 
df[1:5]

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0

In [16]:
df.loc[[1, 3, 4]]

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0

In [17]:
df.loc[1:5 , ["image","AKIEC"]]  #Retornando um intervalo de linhas para determinadas colunas

          image  AKIEC
1  ISIC_0024307    0.0
2  ISIC_0024308    0.0
3  ISIC_0024309    0.0
4  ISIC_0024310    0.0
5  ISIC_0024311    0.0

In [18]:
df.loc[1:5 , "image":"AKIEC"] #Retornando um intervalo de linhas para um determinado intervalo de colunas

          image  MEL   NV  BCC  AKIEC
1  ISIC_0024307  0.0  1.0  0.0    0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0
5  ISIC_0024311  0.0  1.0  0.0    0.0

In [19]:
df.sort_values("NV").head()   #Sorteando os dados usando sort_values

             image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
5943  ISIC_0030249  0.0  0.0  1.0    0.0  0.0  0.0   0.0
8229  ISIC_0032535  1.0  0.0  0.0    0.0  0.0  0.0   0.0
8228  ISIC_0032534  0.0  0.0  0.0    0.0  1.0  0.0   0.0
8227  ISIC_0032533  1.0  0.0  0.0    0.0  0.0  0.0   0.0
2596  ISIC_0026902  0.0  0.0  1.0    0.0  0.0  0.0   0.0

### Iniciando a manipulação da base de dados como imagens

In [13]:
df=pd.read_csv('GroundTruth.csv')
print (df.head())
print (len(df))
print (df.columns)
labels=['MEL', 'NV', 'BCC', 'AKIEC', 'BKL', 'DF', 'VASC']

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10015
Index(['image', 'MEL', 'NV', 'BCC', 'AKIEC', 'BKL', 'DF', 'VASC'], dtype='object')

In [5]:
df['image']=df['image'].apply(lambda x: x+ '.png')

#### Celulas para entendimento para implementação do algoritmo

In [14]:
df.head(15)

           image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0   ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1   ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2   ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3   ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4   ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
5   ISIC_0024311  0.0  1.0  0.0    0.0  0.0  0.0   0.0
6   ISIC_0024312  0.0  0.0  0.0    0.0  1.0  0.0   0.0
7   ISIC_0024313  1.0  0.0  0.0    0.0  0.0  0.0   0.0
8   ISIC_0024314  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9   ISIC_0024315  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10  ISIC_0024316  0.0  1.0  0.0    0.0  0.0  0.0   0.0
11  ISIC_0024317  0.0  1.0  0.0    0.0  0.0  0.0   0.0
12  ISIC_0024318  0.0  0.0  0.0    0.0  0.0  1.0   0.0
13  ISIC_0024319  0.0  1.0  0.0    0.0  0.0  0.0   0.0
14  ISIC_0024320  0.0  1.0  0.0    0.0  0.0  0.0   0.0

In [103]:
row = list(df.iloc[12])

In [104]:
del row[0]

In [105]:
index = np.argmax(row)

In [106]:
index=np.argmax(row)

In [107]:
index

5

In [108]:
label=labels[index]
label_list.append(label)

In [109]:
label_list

['MEL', 'DF']

### Algoritmo aplicado

In [14]:
labels=['MEL', 'NV', 'BCC', 'AKIEC', 'BKL', 'DF', 'VASC']
label_list=[]
for i in range (len(df)):
    row= list(df.iloc[i])
    del row[0]
    index=np.argmax(row)
    label=labels[index]
    label_list.append(label)
df['label']= label_list
df=df.drop(labels, axis=1)
print (df.head())

          image label
0  ISIC_0024306    NV
1  ISIC_0024307    NV
2  ISIC_0024308    NV
3  ISIC_0024309    NV
4  ISIC_0024310   MEL

### **Separando os dados para validação e teste por cada classe**

In [15]:
train_split=.95 
valid_split=.025 

dummy_split=valid_split/(1-train_split)
train_df, dummy_df= train_test_split(df, train_size=train_split, shuffle=True, random_state=123)
valid_df, test_df= train_test_split(dummy_df, train_size=dummy_split, shuffle=True, random_state=123)

print(' train_df length: ', len(train_df), '  test_df length: ', len(test_df), '  valid_df length: ', len(valid_df))  
print (train_df.head())
print (train_df['label'].value_counts())

 train_df length:  9514   test_df length:  251   valid_df length:  250
             image label
3231  ISIC_0027537    NV
7927  ISIC_0032233    NV
6141  ISIC_0030447    NV
5967  ISIC_0030273    NV
7336  ISIC_0031642   MEL
NV       6384
MEL      1053
BKL      1035
BCC       488
AKIEC     309
VASC      138
DF        107
Name: label, dtype: int64

In [71]:
#X = np.array([train_df[0]])
train_df.shape

(9514, 2)

### Balanceando o numero de imagens por cada classe

In [18]:
size=2100#numero de imagens por classe
samples=[]
group=df.groupby('label')
for label in df['label'].unique():
    Lgroup=group.get_group(label)
    count=int(Lgroup['label'].value_counts())    
    if count>=size:
        sample=Lgroup.sample(size, axis=0)        
    else:        
        sample=Lgroup.sample(frac=1, axis=0)
    samples.append(sample) 
train_df=pd.concat(samples, axis=0).reset_index(drop=True)
print (len(train_df))
print ('final number of classes: ', len(train_df['label'].unique()))       
print (train_df['label'].value_counts())

5410
final number of classes:  7
NV       2100
MEL      1113
BKL      1099
BCC       514
AKIEC     327
VASC      142
DF        115
Name: label, dtype: int64

In [19]:
print ('final number of classes: ', len(test_df['label'].unique()))       
print (test_df['label'].value_counts())  
print ('final number of classes: ', len(valid_df['label'].unique()))       
print (valid_df['label'].value_counts())

final number of classes:  7
NV       163
MEL       35
BKL       30
BCC       10
AKIEC      7
VASC       3
DF         3
Name: label, dtype: int64
final number of classes:  7
NV       158
BKL       34
MEL       25
BCC       16
AKIEC     11
DF         5
VASC       1
Name: label, dtype: int64

### Gerando CSV manipulado

In [20]:
valid_df.to_csv("validation.csv")
test_df.to_csv("test.csv")
train_df.to_csv("train.csv")

**Celulas sem funcionalidade no momento**

In [132]:
sdir='/images' 
height=224  # image height
width=224   # image width
channels=3  # number of coloor channels
batch_size= 40  # model batch size for training and evaluation
img_shape=(height, width, channels)
img_size=(height, width)

# code below determines test generator batch size and steps so that test_batch_size X test_steps = number of test samples
# ensures that for predictions you go through the test set exactly once
length=len(test_df)
test_batch_size=sorted([int(length/n) for n in range(1,length+1) if length % n ==0 and length/n<=80],reverse=True)[0]  
test_steps=int(length/test_batch_size)
print ( 'test batch size: ' ,test_batch_size, '  test steps: ', test_steps)
#
def scalar(img): # unused for efficientnet model
    return img/127.5-1  # scale pixel between -1 and +1
gen=ImageDataGenerator() # no scaling of pixels is need for efficientnet
train_gen=gen.flow_from_dataframe( train_df, sdir, x_col='image', y_col='label', target_size=img_size, class_mode='categorical',
                                    color_mode='rgb', shuffle=True, batch_size=batch_size)
test_gen=gen.flow_from_dataframe( test_df, sdir, x_col='image', y_col='label', target_size=img_size, class_mode='categorical',
                                    color_mode='rgb', shuffle=False, batch_size=test_batch_size)
valid_gen=gen.flow_from_dataframe( valid_df, sdir, x_col='image', y_col='label', target_size=img_size, class_mode='categorical',
                                    color_mode='rgb', shuffle=True, batch_size=batch_size)

classes=list(train_gen.class_indices.keys())

class_count=len(classes)
train_steps=int(len(train_gen.labels)/batch_size)

test batch size:  1   test steps:  251
Found 0 validated image filenames belonging to 0 classes.
Found 0 validated image filenames belonging to 0 classes.
Found 0 validated image filenames belonging to 0 classes.

C:\Users\iuryc\miniconda3\envs\env_pdi\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 1757 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(
C:\Users\iuryc\miniconda3\envs\env_pdi\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 251 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(
C:\Users\iuryc\miniconda3\envs\env_pdi\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 250 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

In [122]:
def show_image_samples(gen ):
    test_dict=test_gen.class_indices
    classes=list(test_dict.keys())    
    images,labels=next(gen) # get a sample batch from the generator 
    plt.figure(figsize=(20, 20))
    length=len(labels)
    if length<25:   #show maximum of 25 images
        r=length
    else:
        r=25
    for i in range(r):
        plt.subplot(5, 5, i + 1)
        image=images[i]/255 # scale images between 0 and 1 becaue no preprocessing scaling was done for efficientnet
        plt.imshow(image)
        index=np.argmax(labels[i])
        class_name=classes[index]
        plt.title(class_name, color='blue', fontsize=16)
        plt.axis('off')
    plt.show()

In [123]:
im = show_image_samples(train_gen)

NameError: name 'test_gen' is not defined

**Continuando com a manipulação de dados**

### Gerando dados para treino

In [21]:
import shutil
import sys
import os
labels = pd.read_csv(r'train.csv')

train_directory = r'images'
DR = r'DR_train2'
cont = 0
if not os.path.exists(DR):
    os.mkdir(DR)
    
for _, filename, class_name  in labels.values:
    
    if not os.path.exists(DR + '/' + str(class_name)):
        os.mkdir(DR + '/' + str(class_name))
    src_path = train_directory + '/' + filename +'.jpg'
    dst_path = DR + '/' + str(class_name) + '/' + filename +'.jpg'
    try:
        cont +=1
        shutil.copy(src_path, dst_path)
        if(cont == labels.shape[0]):
            print('Sucesso')
    except IOError as e:
        print('Unable to copy {} to {}' .format(src_path, dst_path))
    except:
        print('Whe try to copy {} to {}, unexpected error: {}'.format(src_path, dst_path, sys.exc_info()))

Sucesso

### Gerando dados para teste

In [22]:
import shutil
import sys
import os
labels = pd.read_csv(r'test.csv')

train_directory = r'images'
DR = r'DR_test2'
cont = 0
if not os.path.exists(DR):
    os.mkdir(DR)
    
for _, filename, class_name  in labels.values:
    
    if not os.path.exists(DR + '/' + str(class_name)):
        os.mkdir(DR + '/' + str(class_name))
    src_path = train_directory + '/' + filename + '.jpg'
    dst_path = DR + '/'  + str(class_name) + '/' + filename + '.jpg'
    try:
        cont +=1
        shutil.copy(src_path, dst_path)
        if(cont == labels.shape[0]):
            print('Sucesso')
    except IOError as e:
        print('Unable to copy {} to {}' .format(src_path, dst_path))
    except:
        print('Whe try to copy {} to {}, unexpected error: {}'.format(src_path, dst_path, sys.exc_info()))

Sucesso

### Gerando dados para validação

In [23]:
import shutil
import sys
import os
labels = pd.read_csv(r'validation.csv')

train_directory = r'images'
DR = r'DR_validation2'
cont = 0
if not os.path.exists(DR):
    os.mkdir(DR)
    
for _, filename, class_name  in labels.values:
    
    if not os.path.exists(DR + '/' + str(class_name)):
        os.mkdir(DR + '/' + str(class_name))
    src_path = train_directory + '/' + filename +'.jpg'
    dst_path = DR + '/' + str(class_name) + '/' + filename +'.jpg'
    try:
        cont +=1
        shutil.copy(src_path, dst_path)
        if(cont == labels.shape[0]):
            print('Sucesso')
    except IOError as e:
        print('Unable to copy {} to {}' .format(src_path, dst_path))
    except:
        print('Whe try to copy {} to {}, unexpected error: {}'.format(src_path, dst_path, sys.exc_info()))

Sucesso

In [77]:
X = train_df["image"]
y = train_df["label"]
y.value_counts()

NV       6384
MEL      1053
BKL      1035
BCC       488
AKIEC     309
VASC      138
DF        107
Name: label, dtype: int64

In [61]:
import glob
import cv2 
def resize_img(dim,directory,formato, future_directory):
    '''Dimensão, Diretório de origem, formato da imagem, diretório futuro'''
    i = 1
    for filename in glob.glob(directory + '/*'+ formato):
        img = cv2.imread(filename)
        image = cv2.resize(img, dim, interpolation = cv2.INTER_AREA)
        cv2.imwrite('{}{}{}'.format(future_directory +'/',i,'.jpg'),image)
        i+=1

In [62]:
labels = ['MEL', 'NV', 'BCC', 'AKIEC', 'BKL', 'DF', 'VASC']
i = 0
for class_name in labels:
    if not os.path.exists('DR_train/' + str(i) + 'modified'):
        os.mkdir('DR_train/' + str(class_name) + 'modified')
        dr = 'DR_train/' + str(class_name)
        dr_future = 'DR_train/' + str(class_name) + 'modified'
        resize_img((250,250), dr, '.jpg', dr_future)
        i+=1
    else:
        i+=1
        continue

### OverSampling

In [115]:
# X : current_dataset
# y : labels

from imblearn.over_sampling import RandomOverSampler, SMOTE,ADASYN
oversampling = RandomOverSampler()
oversampled_X, oversampled_y  = oversampling.fit_resample(train_df , y)

new_data = oversampled_X

In [116]:
new_data.head(100)

               image label
0   ISIC_0027537.jpg    NV
1   ISIC_0032233.jpg    NV
2   ISIC_0030447.jpg    NV
3   ISIC_0030273.jpg    NV
4   ISIC_0031642.jpg   MEL
..               ...   ...
95  ISIC_0031725.jpg    NV
96  ISIC_0027850.jpg   BKL
97  ISIC_0030362.jpg    NV
98  ISIC_0033796.jpg    NV
99  ISIC_0033948.jpg    NV

[100 rows x 2 columns]

In [104]:
new_X['label'].value_counts()

NV       6384
MEL      6384
BCC      6384
BKL      6384
AKIEC    6384
DF       6384
VASC     6384
Name: label, dtype: int64